<nav class='navbar'>

    <!-- Large screen -->
    <ul class='navbar-list'>
        <li> <a href='/'> Home </a> </li>
        <li> <a href="#"> Tutorial </a> </li>
        <li> <a href="#"> Documentation </a> </li>
        <li> <a href='/practice'> Practice </a> </li>
        <li> <a href='#'> Multiplayer </a> </li>
        <li style="float: right"> <a href="/login"> Login </a> </li>
        <li style="float: right"> <a href="/register"> Register </a> </li>
    </ul>

    <!-- Mobile -->
    <button class="btn btn-primary menu-dropdown">
        MENU
    </button>
</nav>