<nav class='navbar'>

    <!-- Large screen -->
    <ul class='navbar-list'>
        <li> <a class="{{#if active.index}}navlink-active{{/if}}" href='/'> Home </a> </li>
        <li> <a class="{{#if active.tutorial}}navlink-active{{/if}}" href='/tutorial'> Tutorial </a> </li>
        <li> <a class="{{#if active.documentation}}navlink-active{{/if}}" href='/documentation'> Documentation </a></li>
        
        {{#if auth}}
            <li> <a class="{{#if active.practice}}navlink-active{{/if}}" href='/practice'> Practice </a> </li>
            <li> <a class="{{#if active.multiplayer}}navlink-active{{/if}}" href='/multiplayer'> Multiplayer </a> </li>
            <li style="float: right"> <a href="/logout"> Logout </a></li>
            <li style="float: right"> <a class="{{#if active.profile}}navlink-active{{/if}}" href="/profile"> My Profile </a></li>
        {{else}}
            <li style="float: right"> <a class="{{#if active.login}}navlink-active{{/if}}" href="/login"> Login </a> </li>
            <li style="float: right"> <a class="{{#if active.register}}navlink-active{{/if}}" href="/register"> Register</a> </li>
        {{/if}}
    </ul>

    <!-- Mobile -->
    <button class="btn btn-primary menu-dropdown">
        MENU
    </button>
</nav>