<!doctype html>
<html lang="en-US">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>

<body>
    {{> navbar }}
    {{{body}}}
</body>

</html>