<section class="section-full-size" style="height:unset">
    <h2 class="section-header">
        Documentation
    </h2>
    <p class="section-paragraph">
        Here you can view JavaScript functions and objects available in game scripts.
    </p>

    <div class="docs-code-block">
        <h3> util </h3>
        <p> Main game object which contains information about the game </p>
    </div>

    <div class="docs-code-block">
        <h3> util.getState() </h3>
        <p> Returns information about player object </p>
        <table style="float: left;">
            <thead>
                <tr>
                    <th> parameter </th>
                    <th> type </th>
                    <th> description </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> x </td>
                    <td> number </td>
                    <td style="text-align: center;"> robot position in x axis on game map </td>
                </tr>
                <tr>
                    <td> y </td>
                    <td> number </td>
                    <td style="text-align: center;"> robot position in y axis on game map </td>
                </tr>
                <tr>
                    <td> hp_current </td>
                    <td> number </td>
                    <td style="text-align: center;"> remaining health points of robot </td>
                </tr>
                <tr>
                    <td> energy_current </td>
                    <td> number </td>
                    <td style="text-align: center;"> remaining energy points of robot </td>
                </tr>
            </tbody>
        </table>
        <div style="clear: left;"></div>
    </div>

    <div class="docs-code-block">
        <h3> player </h3>
        <p> Object containing robot control functions </p>
    </div>

    <div class="docs-code-block">
        <h3> player.moveForwardX()
        </h3>
        <p> Moves robot forwards x axis at a constant speed </p>
    </div>

    <div class="docs-code-block">
        <h3> player.moveForwardY()
        </h3>
        <p> Moves robot forwards y axis at a constant speed </p>
    </div>

    <div class="docs-code-block">
        <h3> player.moveBackX()
        </h3>
        <p> Moves robot backwards x axis at a constant speed </p>
    </div>

    <div class="docs-code-block">
        <h3> player.moveBackY() </h3>
        <p> Moves robot backwards y axis at a constant speed </p>
    </div>
</section>