{{> header }}
<main role="main">
    <article>
        <h3> Real time multiplayer </h1>
        <p>
            Game allows multiple players to connect together in a single game session. 
            You can spectate your robot fight againts other players robots in real time.
        </p>
    </article>
    <article>
        <h3> Programming as gameplay </h3>
        <p>
            <img class="img-right" src='./public/img/ui/code.png' />
            Code behavior of your bots by writing real JavaScript. Game is not designed to teach programming from scratch. 
            However, it can be used as a platform to sharpen your skills, explore algorithms and AI programming.
        </p>
    </article>
    <article>
        <h3> Leaderboards </h3>
        <p>
            Compete againts other players for the top spots in the leaderboards. Show-off the strongest robot you have managed to create
            to your friends and other people around the world.
        </p>
    </article>
</main>
{{> footer }}