<section class="section-full-size">
    <h2 class="section-header">
        LEADERBOARDS
    </h2>
    <table>
        <thead>
            <tr>
                <th> Position </th>
                <th> Level </th>
                <th> Username </th>
                <th> Win / loss rate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> 8 </td>
                <td> other_user </td>
                <td style="text-align: center">
                    <progress max="100" value="57"> </progress>
                    (57%)
                </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> 1 </td>
                <td> eoiic </td>
                <td style="text-align: center">
                    <progress max="100" value="49"> </progress>
                    (49%)
                </td>
            </tr>
        </tbody>
    </table>
</section>