<section class="section-full-size">
    <table>
        <thead>
            <tr>
                <th> Username </th>
                <th> Level </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> eoic </td>
                <td> 1 </td>
                <td style="width: 100.84px"> 
                    <button class="btn btn-primary"> Select </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>