<section class="section-full-size">
    <h2 class="section-header">
        MULTIPLAYER
    </h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th> Username </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{increment @index}}</td>
                <td>{{username}}</td>
                <td>
                    <a href="/multiplayer/{{username}}" onclick="createGame(this)" class="btn-link" title="Select opponent">
                        <span class="fa fa-play"> </span>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<script src="./js/game/lobby.js"></script>