<div class="container container-hv-center">
    <form class='form'>
        <legend class='form-legend'> LOGIN </legend>
        <input class='input' placeholder='Username' type='text' />
        <input class='input' placeholder='Password' type='password' />
        <button type='submit' class="button button-primary button-fluid button-medium">
            Login
        </button>
    </form>
</div>