<section class="container container-center">
    <form class='form'>
        <legend class='form-legend'> LOGIN </legend>
        <input class='input' placeholder='Username' type='text' required />
        <input class='input' placeholder='Password' type='password' required />
        <button type='submit' class="btn btn-primary btn-fluid">
            Login
        </button>
    </form>
</section>
