{{>loading}}
<div id='messages-container'></div>
{{>game-info-sidebar}}
<div id='game-map'></div>
{{>round-info}}

<script src='/static/js/ui/notifier.js'></script>
<script src='/static/js/pixijs/pixi.min.js'></script>
<script src='/static/js/game/main.js'></script>