<script src='./js/game/client-connect.js'></script>
<script src='./js/ui/notifier.js'></script>

<div id='messages-container'></div>
<div id='game-map'></div>

<script src='./js/pixijs/pixi.min.js'></script>
<script src='./js/game/main.js'></script>