<script src='./public/js/editor/src-min/ace.js'></script>
<script src='./public/js/game/client-connect.js'></script>
<script src='./public/js/ui/notifier.js'></script>

<div id='messages-container'></div>

<div id='game-info' class="info-sidebar">
    <h4 id='player-one-name'> Robot 01 </h4>
    <p>
        HP (<span id='player-one-hp'>100</span> / 100) 
        <progress id='player-one-hp-val' value="100" max="100" style="width: 100%" ></progress>
        ENERGY (<span id='player-one-en'>100</span> / 100) 
        <progress id='player-one-en-val' value="100" max="100" style="width: 100%"></progress>
    </p>

    <h4 id='player-two-name'> Robot 02 </h4> 
    <p>
        HP (<span id='player-two-hp'>100</span> / 100) 
        <progress id='player-two-hp-val' value="100" max="100" style="width: 100%" ></progress>
        ENERGY (<span id='player-two-en'>100</span> / 100) 
        <progress id='player-two-en-val' value="100" max="100" style="width: 100%"></progress>
    </p>
    <hr/>
</div>

<div id='game-map'></div>
<div id='splitter'>
    <button id='script-tab' class="btn btn-primary btn-primary-selected" onclick="hideConsole()" title="Code"> 
        <span class="fa fa-code"></span> CODE
    </button>
    <button id='console-tab' class="btn btn-primary" onclick="showConsole()" title="Output"> 
        <span class="fa fa-file-alt"></span> OUTPUT
    </button>
    <hr style="border: 0"/>
    <label for='scripts-dropdown' class='label-light unselectable'> Simulate against </label>
    <select id='scripts-dropdown' class='dropdown'></select>
    <button class="btn btn-primary" onclick="runScript()" title="Run"> 
        <span class='fa fa-play'></span> RUN
    </button>
    <button class="btn btn-primary" onclick="saveScript()" title="Save">
        <span class="fa fa-save"></span> SAVE
    </button>
    <button class="btn btn-primary" onclick="deleteScript()" title="Delete">
        <span class="fa fa-trash"></span> DELETE
    </button>
</div>
<div id='editor'>
    <div style="height: 100px"></div>
</div>

<script src='./public/js/editor/editor.js'></script>
<script src='./public/js/pixijs/pixi.min.js'></script>
<script src='./public/js/game/main.js'></script>
<script src='./public/js/editor/console-window.js'></script>