<script src='./public/js/editor/src-min/ace.js'></script>

<div id='game-map'></div>
<div id='splitter'></div>
<div id='editor'></div>

<script src='./public/js/editor/editor.js'></script>
<script src='./public/js/pixijs/pixi.min.js'></script>
<script src='./public/js/game/main.js'></script>