<script src='./public/js/editor/src-min/ace.js'></script>

<div id='splitter'></div>
<div id='editor'></div>

<script>
    var editor = ace.edit("editor");

    editor.setOptions({
        fontSize: '12pt',
        printMargin: false,
        theme: 'ace/theme/tomorrow_night',
        mode: 'ace/mode/javascript'
    });
</script>
<script src='./public/js/editor/resizer.js'></script>