<script src='./public/js/editor/src-min/ace.js'></script>

<div id='game-map'></div>
<div id='splitter'>
    <button class="btn btn-primary"> RUN </button>
    <button class="btn btn-primary" onclick="saveScript()"> SAVE </button>
    <button class="btn btn-primary" onclick="deleteScript()"> DELETE </button>
</div>
<div id='editor'>
    <div style="height: 100px"></div>
</div>

<script src='./public/js/editor/editor.js'></script>
<script src='./public/js/pixijs/pixi.min.js'></script>
<script src='./public/js/game/main.js'></script>