<aside style="float: left; width: 250px; height: 100%; background-color: brown;">
    aside
</aside>

<section class="padded section-full-size" style="float: right; width: 70%; box-sizing: border-box">
    Statistics
    <hr />
    Achievements
    <hr />
</section>