<aside class="profile-sidebar">
    {{generateImageFromSource user.identiconHash}}
    <h3> @{{user.username}} </h3>
    <hr/>
</aside>

<section class="padded section-full-size profile-section">
    Statistics
    <hr />
    <ul>
        <li> Games played: 0 </li>
        <li> Games won: 0 (0%)</li>
    </ul>

    Achievements
    <hr />
    <!-- Grid --->
    <div>
    
    </div>
</section>