<div class="container container-hv-center">
    <form class='form'>
        <p class='form-legend'> Register </p>
        <input class='input' placeholder='Username' type='text' required />
        <input class='input' placeholder="Email" type="email" required />
        <input class='input' placeholder='Password' type='password' required />
        <input class="input" placeholder="Repeat password" type="password" required/>
        <button type='submit' class="btn btn-primary btn-fluid">
            Register
        </button>
    </form>
</div>