html,
body {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-style: solid;
    border-bottom: #2f2f2f;
}

body {
    background-color: #5c6bc0;
}

main {
    background-color: #cecece;
    margin: 0 auto;  
    display: block;
}

main article {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    padding: 75px 50px 50px 50px;
    color: #d3d4cd;
    font-size: 25px;
    text-align: center;
    background-image: url('../../public/img/ui/nodes.png');
}

article {
    padding: 20px;
    text-align: justify;
}

article h3 {
    color: rgb(187, 57, 47);
}

article p {
    color: #2f2f2f;
}

a {
    color: #f9f9f9;
}

footer {
    background-color: #464646;
    height: 100px;
}

.form {
    padding: 40px 40px 40px 40px;
    background-color: aliceblue;
    border-radius: 2px;
    flex-basis: 300px;
    min-width: 200px;
    box-shadow: 0px 0px 9px #464646;
}

.form>.input {
    margin: 6px 12px 6px auto;
    box-sizing: border-box;
}

.form>.btn {
    margin-top: 6px;
}

.rounded {
    border-radius: 2px;
}

.error-list {
    background-color: rgb(245, 164, 164);
    border-radius: 2px;
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
}

/* Flex box */
.container {
    display: flex;
    height: calc(100% - 60px);
    padding-top: 60px;
}

.container-center {
    align-items: center;
    justify-content: center;
}

/* Headers */
.form-legend {
    font-size: 18px;
    font-weight: normal;
    color: #494949;
    border-bottom: 1px solid #5c6bc0;
    padding-bottom: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

.input {
    border: 1px solid #afaeae;
    border-radius: 2px;
    width: 100%;
    color: #5e5e5e;
    transition: all 0.2s;
    min-width: 100px;
    padding: 0.7em 0.8em;
}

.input:focus {
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 2px 0px rgb(66, 100, 255);
}

/* Navigation */
.navbar {
    position: fixed;
    width: 100%;
    background-color: #5a5a5a;
    box-shadow: 0px 1px 6px #363636;
    top: 0;
    z-index: 1;
}

.navbar-list {
    list-style-type: none;
    padding-right: 20px;
}

.navbar-list>li {
    display: inline;
    border-radius: 3px;
    transition: 0.3s all;
}

.navbar-list>li>a {
    font-weight: 500;
    text-decoration: none;
    transition: all 0.1s;
    padding: 5px 30px;
    margin: 5px;
}

.navbar-list>li>a:hover {
    border-radius: 3px;
    background-color: #8091ca;
}

.navlink-active {
    color:#f2f7f2;
    border-radius: 3px;
    border: 2px solid #8091ca;
}

.menu-dropdown {
    float: right;
    margin: 8px 12px 8px 8px;
}

@media only screen and (max-width: 864px) {
    .navbar-list {
        display: none;
    }
}

@media only screen and (min-width: 865px) {
    .menu-dropdown {
        display: none;
    }
}

/* Coding */
#editor {
    position: absolute;
    right: 0;
    width: calc(100% - 180px);
    height: 300px;
    bottom: 0;
    font-family: monospace;
    z-index: 1;
    /*z-index: 2;*/
}

#splitter {
    bottom: 300px;
    height: 40px;
    width: 100%;
    background-color: rgb(51, 52, 59);
    position: absolute;
    cursor: ns-resize;
    display: inline-flex;
    z-index: 1;
}

.scripts {
    width: 180px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #443850;
    overflow-y: auto;
    overflow-x: hidden;
}

.script-input {
    padding: 0.3em;
    width: 100%;
    background-color: #d4d4d4;
    border-style: none;
    border-top: 1px solid #443850;
}

/* BUTTONS */
/* MUTUAL RULES */
.btn {
    border-style: none;
    transition: all 0.2s;
    padding: 0.7em 1.7em;
    font-size: 16px;
    max-height: 40px;
}

/* COLOR STYLES */
/* PRIMARY */
.btn-primary {
    background-color: #3f51b5;
    color: #ebebee;
    border: 1px solid #5565dd;
}

.btn-primary:hover {
    background-color: #303f9f;
}

.btn-primary:active {
    background-color: #00186f;
}

.btn-primary:focus {
    outline-color: #3f51b5;
}

.btn-primary-selected {
    background-color: #000051;
}

/* PURPLE */
.btn-purple {
    background-color: #654f7e;
    color: #ebebee;
    border-top: 1px solid #443850;
    border-bottom: 1px solid #443850;
}

.btn-purple:hover {
    background-color: #5d4675;
}

.btn-purple:active {
    background-color: #523f66;
}

/* BUTTON SIZES */
.btn-fluid {
    width: 100%;
}

/* SPECIFIC BUTTONS */
.btn-adder {
    border-radius: 3px;
    padding: 3px;
    width: 32px;
    height: 32px;
    font-weight: bold;
    margin: 10px;
}

.btn-active {
    filter: brightness(145%);
}

/* ---------- */
/* Notifier   */
/* ---------- */

.notify {
    color: #FFFFFF;
    min-width: 260px;
    text-align: center;
    z-index: 100;
    padding: 10px;
    border-radius: 2px;
    visibility: hidden;
    display: block;
    margin-top: 5px;
}

#messages-container {
    left: calc(50% - 130px);
    position: fixed;
    margin-top: 55px;
}

.notify.visible {
    visibility: visible;
    animation: fade-in 0.7s, fade-out 0.7s 2.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.notify.success {
    background-color: rgb(42, 172, 74);
}

.notify.warning {
    background-color: rgb(255, 174, 0);
}

.notify.error {
    background-color: rgb(255, 75, 75);
}

.label-light {
    background-color: #757575;
    color: #ffffff;
    padding: 10px;
}

.dropdown {
    border-style: none;
}

.info-sidebar {
    height: 100%; 
    width: 250px; 
    position: fixed; 
    right: 0; 
    background-color: #696969;
    padding: 50px 10px;
    color: #FFFFFF;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;  
    -ms-user-select: none;
}

/* Image */
.img-right {
    max-width: 440px;
    border-radius: 5px;
    display: inline;
}

@media only screen and (max-width: 864px) {
    .img-right {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 864px) {
    .img-right {
        float: right;
    }
}

/* Table */
table {
    width: 60%;
    margin: 0 auto;
    table-layout: auto;
    color: #2f2f2f;
    border-spacing: 0;
    border-collapse: collapse;
}

@media only screen and (max-width: 1024px) {
    table {
        width: 80%;
    }
}

table, td, th {
    border: 1px solid #505050;
}

tr {
    transition: all 0.3s;
}

tr:hover {
    background-color: rgb(206, 206, 206); 
}

td:not(:last-child) {
    text-align: center;
    padding: 5px 10px;
}

/* Section */
.section-full-size {
    padding-top: 85px; 
    background-color: rgb(228, 227, 227);
    height: 100%;
}

/* ( Statistics page ) */
/* Additional paddign to container elements */
.padded {
    padding-left: 200px;
    padding-right: 200px;
}

@media only screen and (max-width: 1024px) {
    .padded {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.profile-sidebar {
    background-color: rgb(187, 187, 187);
    float: left; 
    width: 250px; 
    height: 100%;
    box-sizing: border-box;
    padding: 85px 15px;
    text-align: center;
}

.profile-section {
    float: right; 
    width: calc(100% - 250px); 
    box-sizing: border-box;
}

.achievement-item {
    width: 100%; 
    background-color:rgb(239, 236, 255); 
    padding: 15px; 
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 0px #2f2f2f;
    margin-top: 9px;
}

/* Headers */

h2.section-header {
    padding-left: 150px; 
    padding-bottom: 20px; 
    margin-top: -13px;
    box-shadow: inset 0px -6px 9px -8px #2f2f2f;
    color: #333333;
}

.section-paragraph {
    padding-left: 150px;
    color: #333333;
}

.html-tag-icon {
    color: #6275ff;
}

.docs-code-block {
    background-color: #ebebeb;
    margin-left: 150px; 
    border: 1px; 
    padding: 10px; 
    margin-top: 10px;
    border-radius: 3px; width: 70%; 
    box-shadow: 0px 0px 3px 0px #2f2f2f;
}

.docs-code-block > h3 {
    font-size: 22px; 
    border-radius: 3px; 
    width: 100px; 
    color:rgb(6, 131, 89);
}

/* EDITOR OUTPUT */
p.output-line {
    margin: 0;
    padding: 3px;
    color: #2f2f2f;
    transition: all 0.1s;
    cursor: default;
}

p.output-line:hover {
    color: #d4d4d4;
    background-color: #6173ff;
}

/* LOADING WINDOW */
section.loading-window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    visibility: visible;
    z-index: 10;
}

div.loading-background {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    height: 30px;
    width: 50%;
    background-color: #bebed0;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 1px #3f51b5
}

div.loading-foreground {
    height: 30px;
    background-color: #3f51b5;
    max-width: 100%;
    width: 0%;
    border-radius: 2px; 
}

p.loading-text {
    position: fixed;
    margin: 4px 0px 0px 0px;
    left: 46%;
    color: rgb(255, 255, 255);
}